body.tools, body.index, body.acknowledgements{
    overflow: hidden;
}


.page.tools .form-field.source textarea,
.page.tools .form-field.target textarea{
    width: 38em;
    height: 12em;
}
.page.tools .form-field{
    padding: 0;
}




.page.options .page-main {
    width: 35em;
}

.page.options button{
    margin: 0.6em 0 0 0;
}

.page.options ul#servicesBible{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(21,21,119,1);
}
.page.options ul#servicesBible li{
    margin: 0.5em;
    padding: 0 0.5em;
    border: solid 1px rgba(21,21,119,1);
    border-radius: 2em;
    background: #6ad2ec;
    width: 30em;
    position: relative;
}
.page.options label{
    width: 10em;
    margin: 0;
}
.page.options ul#servicesBible input[type=text].name{
    font-weight: bold;
}
.page.options ul#servicesBible input[type=text].translation{
    width: 4em;
    text-align: center;
    font-weight: bold;
}
.page.options ul#servicesBible input[type=text].url{
    display:block;
    width: 90%;
    font-weight: bold;
}
.page.options ul#servicesBible button.deleteBibleService{
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 1em;
    padding: 1em;
}
.page.options button.addBibleService{
    background-color: rgba(21,21,119,1);
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: solid 3px white;
    border-radius: 1em;
    padding: 1em;
}
.page.options button.addBibleService:hover{
    position: relative;
    top: -2px;
    left: -1px;
}

.page.options .tab-menu{
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.page.options .tab-menu li{
    float: left;
    margin: 0 0.4em 0 0;
    padding: 0.2em 0.8em;
    width: 10em;
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
    background: none;
    list-style-type: none;
    background: rgba(230, 230, 230, 0.7);
}

.page.options .tab-menu li.active, .page.options .tab-menu li:hover{
    background: rgba(255, 255, 255, 0.7);
    position: relative;
}
.page.options .tab-menu li, .page.options .tab-menu li label{
    cursor: pointer;
}

.page.options .tab-content{
    border-radius: 0 0.5em 0.5em 0.5em;
    background: rgba(255, 255, 255, 0.7);
    clear: left;
    padding: 0.8em;
    display: none;
}
.page.options .tab-content.active{
    display: block;
}
.page.options pre.legend{
    font-size: 0.8em;
    background: white;
    padding: 1em;
    width: 90%;
    border: solid 3px rgba(21,21,119,1);
    border-radius: 0.6em;
}


.page.index main{
    position: relative;
    padding-bottom: 2em;
}

.page.index #tipDisableDomainSelector{
    display: none;
    position: absolute;
    top: 0;
    right: -44px;
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
}

.page.index #openSettingsPageLink{
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: underline;
    color: rgba(21,21,119,1);
}

.page.index #acknowledgementsPageLink{
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(21,21,119,1);
}
